
{% extends 'base.html' %}

{% block title %}
  View Cart
{% endblock %}

{% block body %}

{% if melon_info %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Melon Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for melon in melon_info %}
    <tr>
      <td>{{ melon.common_name }}</td>
      <td>{{ melon.quantity }}</td>
      <td>${{ "%.2f"%melon.price }}</td>
      <td>${{ "%.2f"%melon.melon_cost }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Total: ${{ "%.2f"%total_order_cost }}</h3>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% else %}
<p>You have no melons in your cart!<br> 
  <a href="/melons">Get shopping.</a>
</p>
{% endif %}

{% endblock %}
